/ {
    aliases {
        input-gpio = &gpio0_emul;
        output-gpio = &gpio1_emul;
    };

    gpio0_emul: gpio0 {
        compatible = "zephyr,gpio-emul";
        status = "okay";
        gpio-controller;
        #gpio-cells = <2>;
    };

    gpio1_emul: gpio1 {
        compatible = "zephyr,gpio-emul";
        status = "okay";
        gpio-controller;
        #gpio-cells = <2>;
    };
};